button {
  font-family: 'Play', sans-serif;
  font-size: 15px;
  background: lightgray;
  text-align: center;
  padding: 10px;
  border: 1px solid black;
  box-sizing: border-box;
}

#wrapper {
  text-align: center;
}

#title {
  font-family: 'Audiowide', cursive;
  background: lightgray;
  text-align: center;
  padding: 10px;
  border: 1px solid black;
  box-sizing: border-box;
  margin: 10px;
}

#counter {
  font-family: 'Audiowide', cursive;
  margin-bottom: 25px;
}

#end {
  margin-top: 25px;
}

#subwrapper {
  background: lightgray;
  text-align: center;
  padding: 10px;
  border: 1px solid black;
  box-sizing: border-box;
  margin: 10px;
}