.wrapper {
    text-align: center;

}

#trivia {
  font-family: 'Audiowide', cursive;
}

#timeleft {
  font-family: 'Audiowide', cursive;
}

.score {
  font-family: 'Audiowide', cursive;
}

.questions {
  font-family: 'Play', sans-serif;
  visibility: hidden;
}

button {
  font-family: 'Play', sans-serif;
}

button.active {
    background-color: #00FFFF;
}